[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ordPens"]
	path = ordPens
	url = https://github.com/ahoshiyar/ordpens
	shallow = true
	registered = true
